html {
    background-color: black;
    padding: 0;
    margin: 0;
    border: 0;
}

/* убрать полосу прокрутки для всей страницы */
/* ::-webkit-scrollbar {
    width: 0;
} */

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -1px;
    font-weight: 100;
}

.bodyFix {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

.wrapper {
    background-color: white;
    height: 100vh;
    width: 100vw;
    user-select: none;
}

.wrapper__container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: black;
    animation: name 0.5s ease;
    position: relative;
}



/* ------------------- CONTENT -------------------  */
.content__container {
    display: flex;
    flex: 1 1 auto;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

@media (max-width: 1400px) {
    .content__container {
        /* background: red; */
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* main */
.content__main {
    flex: 1;
    color: hsl(0, 0%, 80%);
    max-width: 1300px;
    padding-bottom: 5rem;
    overflow: hidden;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .content__main {
        padding-bottom: 3rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .content__main {
        padding-bottom: 2.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .content__main {
        padding-bottom: 2rem;
    }
}
@media (max-width: 320px) {
    .content__main {
        padding-bottom: 2rem;
    }
}


/* Картинка с палочками */
.content__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -999;
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .content__background {
        height: 31%;
        top: 6.5%;
        right: 0;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .content__background {
        height: 29%;
        top: 6.5%;
        right: 0;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .content__background {
        display: none;
    }
}
@media (max-width: 320px) {
    .content__background {
        display: none;
    }
}

/* Информация о ком сайт */
.main__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: green; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main__title-fio {
    color: white;
    font-size: 1.7rem;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .main__title-fio {
        font-size: 1.7rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__title-fio {
        font-size: 1.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__title-fio {
        font-size: 1.2rem;
    }
}
@media (max-width: 320px) {
    .main__title-fio {
        font-size: 1rem;
    }
}

.main__title-icons {
    display: flex;
    flex-direction: row;
}
.title__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    padding: 0.5rem;
    transition: all 0.4s;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .title__icon-wrap {
        margin-left: 2rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .title__icon-wrap {
        margin-left: 2rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .title__icon-wrap {
        margin-left: 0.1rem;
    }
}
@media (max-width: 320px) {
    .title__icon-wrap {
        margin-left: 0.5rem;
    }
}

.title__icon-wrap:hover {
    transform: scale(0.7);
}
.title__icon-style {}


/* Блок с баннером */
.main__banner {
    margin-top: 11rem;
    margin-bottom: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .main__banner {

    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__banner {

    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__banner {
        margin-top: 1.3rem;
        margin-bottom: 4rem;
        align-items: center;
    }
}
@media (max-width: 320px) {
    .main__banner {
        margin-top: 1.3rem;
        margin-bottom: 2rem;
        align-items: center;
    }
}

.main__banner-text {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .main__banner-text {
        font-size: 3.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__banner-text {
        font-size: 2.4rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__banner-text {
        font-size: 2rem;
        text-align: center;
    }
}
@media (max-width: 320px) {
    .main__banner-text {
        font-size: 2rem;
        text-align: center;
    }
}

.main__banner-text-red {
    color: red;
}


/* тайтл для карточек */
.main__cards-title {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .main__cards-title {
        font-size: 2rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__cards-title {
        font-size: 1.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__cards-title {
        font-size: 1.3rem;
    }
}
@media (max-width: 320px) {
    .main__cards-title {
        font-size: 1rem;
    }
}

.card__title-red {
    color: red;
}

/* блок с картами */
.main__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 4rem;
    overflow-x: auto;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .main__cards {
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__cards {
        justify-content: center;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__cards {
        justify-content: flex-start;
    }
}
@media (max-width: 320px) {
    .main__cards {
        justify-content: flex-start;
    }
}

.main__card-item {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__card-time {
    margin-top: 1rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
}
.main__card-description {
    color: grey;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: clip;
}

/* Блок с меню */
.main__menu {
    display: flex;
    flex-direction: column;
}

/* Заголовок МЕНЮ */
.main__menu-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .main__menu-title {
        font-size: 3rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__menu-title {
        font-size: 2.3rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__menu-title {
        font-size: 2rem;
    }
}
@media (max-width: 320px) {
    .main__menu-title {
        font-size: 1.5rem;
    }
}

/* Строка с лейболами */
.main__menu-labels {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    /* width: 100%; */
    flex: 1 ;
    overflow-x: auto;
    /* position: sticky; */
    /* top: 0; */
    /* background: black; */
}
/* @media (min-width: 1001px) and (max-width: 1300px) {
    .main__menu-labels {
        margin-bottom: 1.6rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__menu-labels {
        margin-bottom: 1.4rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__menu-labels {
        margin-bottom: 1rem;
    }
}
@media (max-width: 320px) {
    .main__menu-labels {
        margin-bottom: 1rem;
    }
} */

.menu__label-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    background: #D62D30;
    border-radius: 1.2rem;
    margin-right: 1rem;
    white-space: nowrap;
    transition: all 0.4s;
    cursor: pointer;
}
.menu__label-wrap:hover {
    transform: scale(0.9);
    background: #af2325;
}
.menu__label-text {
    color: white;
    font-size: 1rem;
    letter-spacing: 1.3px;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__label-text {
        font-size: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .menu__label-text {
        font-size: 1rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu__label-text {
        font-size: 0.8rem;
    }
}
@media (max-width: 320px) {
    .menu__label-text {
        font-size: 0.8rem;
    }
}

/* Название категории */
.main__menu-title-category {
    color: white;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
.main__menu-title-category-first {
    margin-top: 1rem !important;
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .main__menu-title-category {
        font-size: 1.8rem;
        margin-top: 5rem;
    }
    .main__menu-title-category-first {
        margin-top: 1rem !important;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .main__menu-title-category {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .main__menu-title-category-first {
        margin-top: 1rem !important;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .main__menu-title-category {
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .main__menu-title-category-first {
        margin-top: 0.5rem !important;
    }
}
@media (max-width: 320px) {
    .main__menu-title-category {
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    .main__menu-title-category-first {
        margin-top: 0.5rem !important;
    }
}


.main__menu-list {
    /* background: green; */
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.menu__items-row {
    display: flex;
    flex-direction: row;
}

.menu__item {
    flex: 0 0 25%;
    /* background: antiquewhite; */
    /* box-shadow: inset 0px 0px 10px 3px black; */
    /* flex-direction: column; */
    /* display: flex; */
    display: flex;
    transition: all 0.4s;
    /* border-radius: 10px; */
    background: black;
    cursor: pointer;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__item {
        flex: 0 0 33.33333%;
    }
}
@media (min-width: 451px) and (max-width: 1000px) {
    .menu__item {
        flex: 0 0 50%;
    }
}
@media (max-width: 450px) {
    .menu__item {
        flex: 0 0 50%;
    }
}

.menu__item:hover {
    transform: scale(0.9);
}
.menu__item-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.menu__item-img {
    background: black;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__item-img {
        height: 350px;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .menu__item-img {
        height: 350px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu__item-img {
        height: 200px;
    }
}
@media (max-width: 320px) {
    .menu__item-img {
        height: 3000px;
    }
}

.img__cover {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.menu__wrap-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.menu__item-title {
    text-align: left;
    color: white;
    font-size: 1.7rem;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__item-title {
        font-size: 1.7rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .menu__item-title {
        font-size: 1.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu__item-title {
        font-size: 1.3rem;
    }
}
@media (max-width: 320px) {
    .menu__item-title {
        font-size: 1.3rem;
    }
}

.menu__item-energy {
    text-align: left;
    color: #808080;
    font-size: 1rem;
    padding-top: 0.5rem;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__item-energy {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .menu__item-energy {
        font-size: 1.2rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu__item-energy {
        font-size: 0.9rem;
    }
}
@media (max-width: 320px) {
    .menu__item-energy {
        font-size: 1rem;
    }
}

.menu__item-description {
    text-align: left;
    color: #808080;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    flex: 1;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__item-description {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .menu__item-description {
        font-size: 1.2rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu__item-description {
        font-size: 1.1rem;
    }
}
@media (max-width: 320px) {
    .menu__item-description {
        font-size: 1rem;
    }
}

.menu__item-total {
    color: white;
    text-align: left;
    font-size: 1.7rem;
    border-top: 1px solid #2F1B1B;
    padding-top: 0.6rem;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .menu__item-total {
        font-size: 1.7rem;
        padding-top: 0.6rem;
        border-top: 1px solid #2F1B1B;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .menu__item-total {
        font-size: 1.5rem;
        padding-top: 0.6rem;
        border-top: 1px solid #2F1B1B;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .menu__item-total {
        font-size: 1.3rem;
        padding-top: 0.6rem;
        border-top: 1px solid #2F1B1B;
    }
}
@media (max-width: 320px) {
    .menu__item-total {
        font-size: 1.3rem;
        padding-top: 0.6rem;
        border-top: 1px solid #2F1B1B;
    }
}



/* ------------------- FOOTER -------------------  */
.footer__container {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__loyalty {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    width: 100%;
}
.loyalty__text {
    color: black;
    font-size: 2.2rem;
    font-weight: 600;
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .loyalty__text {
        font-size: 2rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .loyalty__text {
        font-size: 1.7rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .loyalty__text {
        font-size: 1.5rem;
    }
}
@media (max-width: 320px) {
    .loyalty__text {
        font-size: 1rem;
    }
}


.loyalty__text-red {
    color: #D62D30;
}

.footer__main {
    background: #D62D30;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}
.footer__main-wrap {
    max-width: 1300px;
    /* float: 1; */
    display: flex;
    /* background: green; */
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (max-width: 320px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (max-width: 320px) {
    .footer__main-wrap {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.footer__main-fio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    color: white;
}
.footer__main-fio-text {
    color: white;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0.3rem;
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .footer__main-fio-text {
        font-size: 2rem;
        padding: 0.3rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .footer__main-fio-text {
        font-size: 1.7rem;
        padding: 0.2rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__main-fio-text {
        font-size: 1.5rem;
        padding: 0.1rem;
    }
}
@media (max-width: 320px) {
    .footer__main-fio-text {
        font-size: 1rem;
        padding: 0.1rem;
    }
}

.footer__main-time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    color: white;
}
.footer__main-time-text {
    color: white;
    text-align: left;
    font-size: 2rem;
    padding: 0.3rem;
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .footer__main-time-text {
        font-size: 1.8rem;
        padding: 0.3rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .footer__main-time-text {
        font-size: 1.5rem;
        padding: 0.2rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__main-time-text {
        font-size: 1.1rem;
        padding: 0.1rem;
    }
}
@media (max-width: 320px) {
    .footer__main-time-text {
        font-size: 0.8rem;
        padding: 0.1rem;
    }
}


.footer__main-icons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    color: white;
    /* background: gold; */
}
.footer__main-icons-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .footer__main-icons-row {
        margin-bottom: 0.4rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .footer__main-icons-row {
        margin-bottom: 0.3rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__main-icons-row {
        margin-bottom: 0.2rem;
    }
}
@media (max-width: 320px) {
    .footer__main-icons-row {
        margin-bottom: 0.1rem;
    }
}


.footer__main-icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.4s;
}
@media (min-width: 1001px) and (max-width: 1300px) {
    .footer__main-icons-item {
        margin-left: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .footer__main-icons-item {
        margin-left: 0.8rem;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .footer__main-icons-item {
        margin-left: 0.4rem;
    }
}
@media (max-width: 320px) {
    .footer__main-icons-item {
        margin-left: 0.2rem;
    }
}

.footer__main-icons-item:hover {
    transform: scale(0.7);
}